body.structure {
    background-color: bisque;
    color: #784212;
    margin-right: 0px;
    margin-left: 0px;
}

h2 {
  color: #283747;
}

/*HEADER*/



#contenedor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #9E4735; 
}

.navbar-toggler {
  color: antiquewhite !important;
} 

.navbar-light .navbar-nav .nav-link.active {
  color: whitesmoke !important;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light {
background: #9E4735 !important;
justify-content: center !important;
margin-left: 30px !important;
}

nav.navbar {
  justify-content: center;
}

nav ul {
  list-style: none;
  overflow: hidden;
  transition: 1s; 
}

nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 24px;
  padding-right: 30px;
  font-weight: bold;
  transition: 2s;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

  header li:hover {
    font-size: 28px;
 }

  #titulo {
    text-transform: uppercase;
    color: rgb(71, 48, 48);
    text-shadow: 1px 2px 2px sandybrown;
    font-size: 30px;
    align-items: center;
    margin-bottom: 0;
  }

  div.logo {
    text-align: start;
    align-items: center;
    justify-content: center;
    max-width: 100px;
  }
     
  div.carrito {
    text-align-last: end;
    align-items: center;
    justify-content: center;
  }

  /*CONTENIDO MID*/

  body a{
    text-decoration: none;
    color:rgb(0, 0, 128);
  }

  .contenido {
    text-align: center;
  }

  .contenido ul {
    list-style: none;
    display: flex;
  }

  .contenido h3 {
    color: #283747;
  }

  .contenido p {
    font-weight: bold;
    padding: 0;
    font-size: 20px;
    color: #283747;
  }

  #titproduct {
    color: beige;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 3px 2px #ad691a;
    padding-top: 20px;
    text-transform: uppercase;
    border-top: 2px solid #513d38;
    background-color: #5e0a0a;
    padding-bottom: 20px;
    border-bottom: solid 2px #513d38;
  }

  .container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-evenly;
  }

  .productos{
    border: 3px solid slategray;
    width:fit-content;
    background-color: #d7cabd;
    margin-bottom: 24px;
    margin: 30px 50px ;
  }

main {
  padding-bottom: 30px;
}

/*FOOTER*/

.footer {
  text-align: center;
  justify-content: center;
  color: oldlace;
  text-shadow: 2px 3px 2px slategray;
  border-top: solid 2px #283747;
  background-color: #9E4735;
  padding-bottom: 20px;
}

.footer h2{
  color: whitesmoke;
}

#copyright {
  font-weight: bold;
}

.catalogo {
  text-transform: uppercase;
  color: rgb(33, 26, 26);
  border: solid 3px rgb(92, 13, 13);
  padding: 4px;
  background-color: #e3e287;
  font-weight: bolder;
}

.ov-btn-grow-box {
  background: #ffae00; /* color de fondo */
  color: black; /* color de fuente */
  font-weight: bolder;
  border: 2px solid black; /* tamaño y color de borde */
  padding: 16px 20px;
  border-radius: 3px; /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-grow-box:hover {
  color: #fff;/* color de fuente hover */
}
.ov-btn-grow-box::after {
  content: "";
  background: brown; /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  transition: all 0.3s ease;
}
.ov-btn-grow-box:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}

/*FORMULARIOS*/

.formulario ul {
  display: flex;
  flex-direction: column; 
}

.formulario li {
  font-weight: bolder;
  color: #513d38;
}

main.contenido li {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
}

textarea#msg {
  height: 200px;
}

/*HISTORIAS*/

.historia {
  margin-top: 0;
}

.historias {
  padding: 0 30px;
}

.historias h3 {
  color: royalblue;
  font-size: 22px;
  text-shadow: 1px 1px 1px rgb(10, 1, 41);
}

.historias p {
  font-weight: normal;
}

/* PRODUCTOS INDIVIDUALES */

.producto-ind {
  border: 3px solid slategray;
  width:fit-content;
  margin-bottom: 24px;
  background-color: rgb(92, 13, 13);
}

.producto-ind h3 {
  padding-bottom: 10px;
}

#ficha {
  color: beige;
  text-shadow: 1px 3px 2px #ad691a;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.titproduct-ind h2 {
  color: beige;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 2px 3px 2px #ad691a;
  padding-top: 10px;
  text-transform: uppercase;
  border-top: 2px solid #513d38;
  background-color: #5e0a0a;
  padding-bottom: 10px;
  border-bottom: solid 2px #513d38;
}



/*
@media (max-width: 1280px) {
  .logo {
    margin-left: 40px;
    width: 20%;
  }
}

@media (max-width: 1028px) {
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding-right: 30px;
    font-weight: bold;
    transition: 2s;
  }
}

@media (max-width: 872) {
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding-right: 30px;
    font-weight: bold;
    transition: 2s;
  }
}

@media (max-width: 850) {
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding-right: 30px;
    font-weight: bold;
    transition: 2s;
  }
}

#titulo {
  text-transform: uppercase;
  color: rgb(71, 48, 48);
  text-shadow: 1px 2px 2px sandybrown;
  font-size: 24px;
  align-items: center;
  margin-bottom: 0;
}

*/

